<h1>About</h1>
<p> in the makingz </p>


<div>
<img src="<%= image_url("wireframe_scetch.jpg")%>" >
</div>

<div>
<img src="<%= image_url("wireframe_scetch.jpg")%>" class="img-responsive" alt="Responsive image">
</div>

<div>
<img src="<%= image_url("wireframe_scetch_sq.jpg")%>" class="img-responsive img-circle" alt="Responsive image">
</div>

<!-- guiding beliefs x2 -->

<div class="row">
  <div class="col-md-6"><b><h4>Guiding beliefs</b></h4>
  	I believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal.
  	</div>
  <div class="col-md-6"><b><h4>Process</b></h4>
	I do research, workshops with users, lead structured interviews, measuring the metric results, tweaking wireframes. I prefer working close to the developers to allow a seamless testing environment.
</div>

<!-- guiding beliefs x2 + images w rounded corners-->
<div class="row">
  <div class="col-md-6">
  	<img src="<%= image_url("wireframe_scetch_sq.jpg")%>" class="img-responsive img-rounded" alt="Responsive image">
  	<b><h4>Guiding beliefs</b></h4>
  	I believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal.
  	</div>
  	
  <div class="col-md-6">
	<img src="<%= image_url("wireframe_scetch_sq.jpg")%>" class="img-responsive img-rounded" alt="Responsive image">
	<b><h4>Process</b></h4>
	I do research, workshops with users, lead structured interviews, measuring the metric results, tweaking wireframes. I prefer working close to the developers to allow a seamless testing environment.
</div>




<div class="white-citat">
<p>Process is everything</p>
</div>


<div class="center">

	<h3><b>UI/UX process is everything</b></h3>

</div><br>


<div>
	<h3>Illustrated projects</h3><br>
</div><br>

	
<div>
		<h3>Money saving app</h3></div><br>
	<div>Treat is a money saving app that allows youto save everytime you resist buying that coffe on your way to work, and save it towrads something that you really want, like a surfing trip to Hawaii. By clicking on the coffee symbol, the app actively takes money out of your account and we store it for you untill you reach your goal. </div><br>

	<div><b>Insight:</b> 
	People had tried saving by rounding upp with their saints account (when shopping for £29 the last £1 would go to your saving account). Other people would save by brut force, first splurge with a credit card and then go o a very restorative spending diet, as they were bad savers for upfront but could manage having an imaginary “bad coach” remidning them about. 
	And action was preferred above listing what they would save for.<br>
		<ul>
	 	<li>User research showed that a need for an easy, non-cheatable habit change app.
	 	<li>Everybody had something they would save for wether it was a Surf trip or a vintage rolex from the seventies.
	 	<li>Users were tires of display data from banks, showing where you allocate money. The users actively asked for a tool to use while making decisions. Upon a cue the app could help you make the right choice and the user be rewarded by seing wher ethat coffe money went on a results page as soon at the money was transacted in realtime.
		</ul>




<div><b>Results:</b> A better userflow
Lorem ipsum</div><br>

<div><b>Lessons learned:</b>
Working with banks takes about two years from started negotiation to done and implemented solution in Sweden. We would had launched this project but chose actively to work on other projects to our users big dissapointment.</div><br>

</div><br>

<div><b>Prototyping process:</b></div>