<h1>Clients </h1>
<p> A selection of provious clients I have worked with, mainly in Stockholm Sweden unless othervise noted.<p><br>


<div class="row">

<div class="col-md-4"> <h4>Clients </h4><br>
	<ul>
		<li><p> <%= link_to "Spotify", "http://www.spotify.com" %> </p></li>
		<li><p> <%= link_to "Google Campus, London UK", "http://www.campuslondon.com" %> </p></li>
		<li><p> <%= link_to "TheGivinglab, London UK", "http://www.thegivinglab.org" %> </p></li>
		<li><p> <%= link_to "Klarna", "http://www.klarna.com" %> </p></li>
		<li><p> <%= link_to "King", "http://www.king.com" %> </p></li>
		<li><p> <%= link_to "East Sweden", "http://www.eastsweden.se" %> </p></li>
		<li><p> <%= link_to "Swedish Institute", "http://www.si.se" %> </p></li>
		<li><p> <%= link_to "Greatness PR", "http://www.greatness.se" %> </p></li>
		<li><p> <%= link_to "Binero", "http://www.binero.se" %> </p></li>
		<li><p> <%= link_to "Academic Work", "http://www.academicwork.com" %> </p></li>
	    <li><p> <%= link_to "Eniro", "http://www.eniro.se" %> </p></li>
	    <li><p> <%= link_to "Institute for Leadership at Stockholm School of Economics, Stockholm, Sweden", "http://www.ifl.se" %> </p></li>
	 </ul>
</div>

<div class="col-md-4"><h4>Startup trackrecord</h4><br>
 	<ul>
	 	<li><p><%= link_to "RunAlong.se", "http://techcrunch.com/2009/10/02/swedish-startup-runalong-wants-to-make-you-sweat-with-your-friends-in-the-dark/" %>
		Founded a running service 2008-20010 in Sweden. Over 1M SEK raised from Vinnova.</p> 
		<li><p> <%= link_to "Scrive", "http://www.scrive.com" %> Owner at electronic signature service for contracts and legalpapers 2011-2012.</p></li>
		</ul><br>

		<h4>Links</h4>
</div>

<div class="col-md-4"><h4>Research Partners</h4><br>
 	<ul>
 		<li><p><%= link_to "Stockholm School of Economics", "http://www.hhs.se" %> RunAlong was partly a research project involving <%= link_to "PhD. Robin Teigland", "http://www.hhs.se/se/Search/Person/Pages/Person.aspx?PersonID=785" %>, from the Department of Marketing and Strategy at Stockholm School of Economic. Researched the benefit of user driven innovation (UDI) process applied to development of a startup (RunAlong.se)</p> 
	</ul>
</div>
<br>

</div>

