<!DOCTYPE html>
<html lang="en">
<body>

<!-- rad ett + video -->

<div>
	<div class="row">
	  <div class="col-md-4">
	  	<img  src="<%= image_url("GGM_logo.gif")%>" class="img-responsive" alt="Responsive image">

	  	<h3>GeekGirlmMeetup.com</h3>
	  	<p>GeekGirlMeetup was founded by Heidi Harman and Andie Nordgren in Sweden in 2008. The aim is to create more female role-models in tech areas such as web, code and start-ups, along with creating new networks and active knowledge exchange between women.</p><br>

	  	<h4>How</h4>
		<p>GeekGirlMeetup is a unique participatory driven event where the focus is on knowledge exchange through talks and sessions as well as hackathons. </p><br>

		<h4>Results</h4>
		<p>
		Today we exist in Sweden, Denmark, Mexico, London, Oxford, Berlin, HongKong and Tunisia.<br>
		<br>
		In Sweden we exist in 5 cities, Stockholm, region of Oresund, Gothenburg, Umea and Norrkoping.
	
		</p><br>

		
	  </div>

	  <div class="col-md-8">
	  		<br>
	  		<br>
	  		<iframe src="//player.vimeo.com/video/65068088?byline=0" width="760" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  </div>
</div>

<!-- 3x 

<div class="row">
	<div class="col-md-4">
		<img  src="<%= image_url("scrive_ipad.png")%>" class="img-responsive" alt="Responsive image">
		<b><h4>Scrive</b></h4>	  
		Scrive is a electronic signature company for contracts and legal papers. They are the Swedish leader in Electronic signatures thanks to their easy and straight forward to user experience. <br> 

		<div class="square">
	  	<%= link_to "VIEW PROJECT ", "http://www.refineryabs.com/scrive" %>
		</div>

		</div>

    <div class="col-md-4">
	  	<img  src="<%= image_url("geekgirlmeetup_stickers.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>GeekGirlMeetup</b></h4>
	  	GeekGirlMeetup is an un-conferance for women in web, code and startups aiming to elevate female roldemodels by new networks and active knowledge exchange. 

	  	<div class="square">
	  	<%= link_to "VIEW PROJECT ", "http://www.refineryabs.com/geekgirlmeetup" %> </p></li>
		</div>
  	</div>
	

    <div class="col-md-4">
	  	<img  src="<%= image_url("thegivinglab.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>The Giving Labs</b></h4>
	  	TheGivingLab.org is a chaity API enabling people to give in a new ways. By enabling game developers and chairty workers to implement the charity API in their (game) apps, the looser of for example a chess app, can donate £1 to any UK charity.

	  	<div class="square">
	  	<%= link_to "VIEW PROJECT ", "#" %> </p></li>
		</div>
	</div>

</div>

-->