<!DOCTYPE html>
<html lang="en">
<body>

<!-- rad ett + video -->

<div>
	<div class="row">
	  <div class="col-md-4">
	  	<img  src="<%= image_url("GGM_logo.gif")%>" class="img-responsive" alt="Responsive image">

	  		<h3>GeekGirlMeetup.com</h3>
	  		<p>GeekGirlMeetup was founded by Heidi Harman and Andie Nordgren in Sweden in 2008. The aim is to elevate more female role-models in web, code and start-ups, along with creating new networks and active knowledge exchange.</p><br>

	  		<h4>How</h4>
			<p>GeekGirlMeetup is a unique participatory driven event where we focus on knowledge exchange through talks, sessions and hackathons. </p><br>

			<h4>Results</h4>
			<p>
			Today we exist in Sweden, Denmark, Mexico, London, Oxford, Berlin, Hong Kong, Tunisia and San Francisco.<br>
			<br>
			In Sweden we exist in 5 cities, Stockholm, the region of Oresund, Gothenburg, Umea and Norrkoping.
	
		</p><br>

		
	  </div>

	  <div class="col-md-8">
	  		<br>
	  		<br>
	  		<iframe src="//player.vimeo.com/video/65068088?byline=0" width="760" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  </div>
</div>


<!-- 4 + 8  
-->


<div>
	<div class="row">
	  <div class="col-md-4">


	  	<h4>In the press (a selection)</h4>


  		<b>The Guardian 2014 - </b> <%= link_to "Four groups bringing together women in tech", "http://www.theguardian.com/women-in-leadership/2014/apr/04/groups-for-women-in-tech" %> </p>
  		<b>Venture Village 2012 - </b> <%= link_to "Diverse groups make better products” – code, cake and gadgets at Geek Girl Meetup Berlin", "http://venturevillage.eu/geek-girl-meetup-berlin" %> </p>
  		<b>Bonnier 2013 - </b> <%= link_to "For Geek Girls. Bonnier D2D sponsors Geek Girl Meetup in Stockholm May 25-26.", "http://www.bonnier.com/news-press/News/2013/May/For-Geek-Girls/" %> </p>
  	</div>


	<div class="col-md-4">
		<iframe width="760" height="500" src="//www.youtube.com/embed/_L0LB2rdNPQ" frameborder="0" allowfullscreen></iframe>
  	</div>

  	</div>
</div>





<div>
	<div class="row">
	<div class="col-md-4">

		<h4>Presentations given (a selection)</h4>

		<b>TedX Youth Stockholm 2011 - </b> <%= link_to "GeekGirlMeetup", "https://www.youtube.com/watch?v=_L0LB2rdNPQ" %> </p>

  		<b>Swedish Institute Alexandria/Cairo November 2011 - </b> <%= link_to "Digital Process Leadership as a Tool for Action and Social Innovation in an Un-Complete World - Young Leadership program", "http://www.slideshare.net/heidi.harman/20101101-alexandria-svenska-institutet-ylvp" %> </p>

		<b>Stockholm School of Economics, Institute for Leadership 2011 - </b> <%= link_to "The Anatomy of Change 2011", "http://www.slideshare.net/heidi.harman/20101125-the-anatomy-of-change-cep-ifl" %> </p>

  	</div>


	<div class="col-md-8">
		<iframe src="//www.slideshare.net/slideshow/embed_code/13418230" width="760" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
	</div>
	
</div>

<!-- 3x 

<div class="row">
	<div class="col-md-4">
		<img  src="<%= image_url("scrive_ipad.png")%>" class="img-responsive" alt="Responsive image">
		<b><h4>Scrive</b></h4>	  
		Scrive is a electronic signature company for contracts and legal papers. They are the Swedish leader in Electronic signatures thanks to their easy and straight forward to user experience. <br> 

		<div class="square">
	  	<%= link_to "VIEW PROJECT ", "http://www.refineryabs.com/scrive" %>
		</div>

		</div>

    <div class="col-md-4">
	  	<img  src="<%= image_url("geekgirlmeetup_stickers.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>GeekGirlMeetup</b></h4>
	  	GeekGirlMeetup is an un-conferance for women in web, code and startups aiming to elevate female roldemodels by new networks and active knowledge exchange. 

	  	<div class="square">
	  	<%= link_to "VIEW PROJECT ", "http://www.refineryabs.com/geekgirlmeetup" %> </p></li>
		</div>
  	</div>
	

    <div class="col-md-4">
	  	<img  src="<%= image_url("thegivinglab.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>The Giving Labs</b></h4>
	  	TheGivingLab.org is a chaity API enabling people to give in a new ways. By enabling game developers and chairty workers to implement the charity API in their (game) apps, the looser of for example a chess app, can donate £1 to any UK charity.

	  	<div class="square">
	  	<%= link_to "VIEW PROJECT ", "#" %> </p></li>
		</div>
	</div>

</div>

-->