<!DOCTYPE html>
<html lang="en">
<body>


<div class="row">
  <div class="col-md-8"><h3><b>UI/UX process is everything</b></h3></div>
  <div class="col-md-4"></div>
</div>

<!-- <div class="square">
	<p>hello</p>
</div> -->


<!-- Apps x 3 -->

<div class="row">

	<div class="col-md-4">
		<img  src="<%= image_url("wireframe_scetch_sq.jpg")%>" class="img-responsive" alt="Responsive image"> <br>

		<b><h4>Guiding Beliefs</b></h4>
		I believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal.

		<b><h4>Process</b></h4>
		I do research, workshops with users, lead structured interviews, measuring the metric results, tweak wireframes to iterate prototypes. I prefer working close to the developers to allow a seamless testing environment.

		<b><h4>Contact</b></h4>
		Email: hello@refinerylabs.com <br>
		<%= link_to "Twitter", "www.twitter.com/heidiharman" %><br>
		<%= link_to "LinkedIn", "se.linkedin.com/in/heidiharman" %><br>
		<%= link_to "Github", "www.github.com/h3idi" %><br> 


		SWEDEN + 46 (0)73 772 14 63<br>
		US + 1 (415) 481 82 09 (temp not working)<br>     

	</div>


    <div class="col-md-4">
	  	<img  src="<%= image_url("imaginairy_country.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>Imaginairy Country</b></h4>
	  	Imaginairy country is documentary in the making. At the Hi-Tempo film festival in Sweden I designed a mobile app to help Angela Bravo make her documentary film explore the transmedial possibilities and spread the word on Facebook. Which character are you in Starwars, was the playful entrance to something severly more serious. To be viewed on mobile.
	  	<div class="square">
	  	<%= link_to "VIEW MOBILE PROJECT ", "http://refinerylabs.herokuapp.com/imaginary_country" %>
		</div>
  	</div>
	

    <div class="col-md-4">
		<img  src="<%= image_url("Treat Knapp.jpg")%>" class="img-responsive" alt="Responsive image">
		<b><h4>Treat money saving app</b></h4>
		  Treat is a money-saving app that allows the user to save money actively with an app that takes the users money away from the user towards a saving goal.  
		  <div class="square">
			<%= link_to "VIEW PROJECT", "http://refinerylabs.herokuapp.com/treat" %>
		</div>
	</div>
</div>


<!-- Apps x 3  in 2:nd line-->

<div class="row">
	<div class="col-md-4">
		<img  src="<%= image_url("scrive_ipad.png")%>" class="img-responsive" alt="Responsive image">
		<b><h4>Scrive</b></h4>	  
		Scrive is a electronic signature company for contracts and legal papers. They are the Swedish leader in Electronic signatures thanks to their easy and straight forward user experience. <br> 

		<div class="square">
	  	<%= link_to "VIEW PROJECT ", "http://refinerylabs.herokuapp.com/scrive" %>
		</div>

		</div>

    <div class="col-md-4">
	  	<img  src="<%= image_url("geekgirlmeetup_stickers.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>GeekGirlMeetup</b></h4>
	  	GeekGirlMeetup is an un-conference for women in web, code and startups aiming to elevate female role-models by new networks and active knowledge exchange. 

	  	<div class="square">
	  	<%= link_to "VIEW PROJECT ", "http://refinerylabs.herokuapp.com/geekgirlmeetup" %> </p></li>
		</div>
  	</div>
	

    <div class="col-md-4">
	  	<img  src="<%= image_url("thegivinglab.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>The Giving Lab</b></h4>
	  	TheGivingLab.org is a charity API enabling people to give (money) in a new ways. By enabling game developers and charity workers to implement the charity API in their (game) apps for example, the loser in a chess app, is challenged to donate £1 to a UK charity of choice.

	  	<div class="square">
	  	<%= link_to "VIEW PROJECT ", "http://refinerylabs.herokuapp.com/thegivinglab" %> </p></li>
		</div>
	</div>

</div>


<!-- Preferred tools, RunAlong.se, Press and speaking x3

<div class="row">

	<div class="col-md-4">

		<b><h4>Preferred methods and tools</b></h4>

	</div>

	<div class="col-md-4">
		<b><h4>RunAlong.se</b></h4>

	</div>

	<div class="col-md-4">
		<b><h4>Press and speaking</b></h4>


	</div>

</div>

-->


<!-- guiding beliefs x3 

<div class="row">
  <div class="col-md-4">
  	<b><h4>Guiding beliefs</b></h4>
  	I believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal.
  	</div>

  <div class="col-md-4">
	<b><h4>Process</b></h4>
	I do research, workshops with users, lead structured interviews, measuring the metric results, tweaking wireframes. I prefer working close to the developers to allow a seamless testing environment.
	</div>

	<div class="col-md-4">
	<b><h4>Contact</b></h4>
	Email: hello@refinerylabs.com <%= link_to "Twitter", "www.twitter.com/heidiharman" %>
	<%= link_to "LinkedIn", "se.linkedin.com/in/heidiharman" %> <br>
	US + 1 (415) 481 82 09     SWEDEN + 46 (0)73 772 14 63
	

	</div>
</div><br>  -->


<!-- Guiding Beliefs
	<div class="row">
	   <div class="col-md-6">
		 <img  src="<%= image_url("wireframe_scetch_sq.jpg")%>" class="img-responsive" alt="Responsive image">
		</div>

		<div class="col-md-6">
		<b><h4>Guiding Beliefs</b></h4>
		  I believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal.

		<b><h4>Process</b></h4>
		I do research, workshops with users, lead structured interviews, measuring the metric results, tweaking wireframes. I prefer working close to the developers to allow a seamless testing environment.

		<b><h4>Contact</b></h4>
		Email: hello@refinerylabs.com <%= link_to "Twitter", "www.twitter.com/heidiharman" %>
		<%= link_to "LinkedIn", "se.linkedin.com/in/heidiharman" %> <br>
		US + 1 (415) 481 82 09     SWEDEN + 46 (0)73 772 14 63
		

		<%= link_to "VIEW PROJECT ", "#" %> </p></li>
		</div>
</div>   -->	

 <!-- 3 column -->

<div class="row">
<div class="col-md-4"> <h4><b>Clients </h4></b><br>
	<ul>
		<li><p> <%= link_to "Spotify", "http://www.spotify.com" %> </p></li>
		<li><p> <%= link_to "Google Campus, London UK", "http://www.campuslondon.com" %> </p></li>
		<li><p> <%= link_to "TheGivinglab, London UK", "http://www.thegivinglab.org" %> </p></li>
		<li><p> <%= link_to "Klarna", "http://www.klarna.com" %> </p></li>
		<li><p> <%= link_to "King", "http://www.king.com" %> </p></li>
		<li><p> <%= link_to "East Sweden", "http://www.eastsweden.se" %> </p></li>
		<li><p> <%= link_to "Swedish Institute", "http://www.si.se" %> </p></li>
		<li><p> <%= link_to "Greatness PR", "http://www.greatness.se" %> </p></li>
		<li><p> <%= link_to "Binero", "http://www.binero.se" %> </p></li>
		<li><p> <%= link_to "Academic Work", "http://www.academicwork.com" %> </p></li>
	    <li><p> <%= link_to "Eniro", "http://www.eniro.se" %> </p></li>
	    <li><p> <%= link_to "Institute for Leadership at Stockholm School of Economics, Stockholm, Sweden", "http://www.ifl.se" %> </p></li>
	 </ul>

	</div>
	<div class="col-md-4"><h4><b>Research Partners</h4></b><br>
	<p><%= link_to "Stockholm School of Economics", "http://www.hhs.se" %> RunAlong was partly a research project involving <%= link_to "PhD. Robin Teigland", "http://www.hhs.se/se/Search/Person/Pages/Person.aspx?PersonID=785" %>, from the Department of Marketing and Strategy at <%= link_to "Stockholm School of Economics", "http://www.hhs.se" %>. Research was done on the benefit of user driven innovation (UDI) process applied to development of a startup (RunAlong.se)</p> 
	</div>

	<div class="col-md-4"><h4><b>Startup trackrecord</h4></b><br>
		<p><%= link_to "RunAlong.se", "http://techcrunch.com/2009/10/02/swedish-startup-runalong-wants-to-make-you-sweat-with-your-friends-in-the-dark/" %>
			Founded the RunAlong.se running service 2008-2010 in Sweden. Over 1M SEK raised from Vinnova.</p> 
		<p> <%= link_to "Scrive", "http://www.scrive.com" %> Owner at electronic signature service for contracts and legalpapers 2011-2012.</p>
	</div><br>
</div>

</body>
</html>

