<!DOCTYPE html>
<html lang="en">
<body>

<div>
	<div class="row">
	  <div class="col-md-4">
	  	<img  src="<%= image_url("imaginairy_country_enter.png")%>" class="img-responsive" alt="Responsive image">
</div>

	  <div class="col-md-8">
	  	<br>
	  	<br>
	  	<br>
	  	<br>
	  	<h3>Imaginary Country - Hi-tempo fimfestival Hackathon</h3><br>
	  	<br>
		<p><b>Please note that this project is made to work for mobile devices only. Viewing it in a desktop webbrowser will not do it justice, neither work for that matter. <%= link_to "Please open in Mobile", "http://10.10.2.194:8081/debug/" %></b><br>
		<br>

	  	Angela’s unfinished documentary film (in the making) is a story of what it is like to grow up a immigrant child hearing about her parents country Chile as a child in the 80-ies. The film portraits the imaginary counter of heroes and villans from a childs perspective where the lines get blurred. As a grown up she later investigates the land of her childhood stories to interview people behind the massacre in Chile in short he artful, and powerfully strong and objective interviews. <br>
		<br>
		We tried to make a compelling fast spread Facebook app that rhymed with the  80-ids expressions that she grew up with. We chose to use the Start wars hero esthetique to portrait the hero characteristics in a simple Facebook - who is your hero personality test, as seen popularly on Facebook. We aimed to be easily digested - but thru the characteristics that you end up with after a personality test very similar to the heroes and villains of reality (in chile during the 70-ties) the user ends up with a Starwars hero, but also with a wider perspective of 4 other real life heroes.<br>
		<br>
		A bit cheeky to pull people in on a feel good personality test for heroes that later turns in to a heave subject like the chilean dictature of Pinochet reality. <br>
		<br>
		We programed a simple mobile app (its so mobile it only works on mobile - does not support web in this iteration). <br>
		</p><br>
	</div>
	  </div>
</div>

<!-- 3 column-->

<div class="row">
	<div class="col-md-4">
		<img  src="<%= image_url("imaginairy_country_choose_side.png")%>" class="img-responsive" alt="Responsive image"> <br>
	</div>

    <div class="col-md-4">
	  	<img  src="<%= image_url("imaginairy_country_treat.png")%>" class="img-responsive" alt="Responsive image"> 
	</div>

    <div class="col-md-4">
		<img  src="<%= image_url("imaginairy_country_luke_skywalker.png")%>" class="img-responsive" alt="Responsive image">
	</div>
</div>

<!-- 3 column-->

<div class="row">
	<div class="col-md-4">
	<img src="<%= image_url("imaginairy_country_oh.png")%>" class="img-responsive" alt="Responsive image"> <br>
	</div>

	<div class="col-md-4">
		  <img  src="<%= image_url("imaginairy_country_perpotrater.png")%>" class="img-responsive" alt="Responsive image"> 
	</div>

	<div class="col-md-4">
		<img  src="<%= image_url("imaginairy_country_video.png")%>" class="img-responsive" alt="Responsive image">
	</div>
</div>




<!-- 
	imaginairy_country_enter.png
imaginairy_country_darth_vadar.png
imaginairy_country_hopeless.png
imaginairy_country_luke_skywalker.png

-->
