<!DOCTYPE html>
<html lang="en">
<body>

<div>
	<div class="row">
	  <div class="col-md-8">
	  	<h3>The GivingLab.org</h3>
	  	<p>TheGivingLab.org is a charity API enabling people to give (money) in a new ways. By enabling game developers and chairty workers to implement the charity API in their (game) apps for example, the looser in a chess app, is challenged to donate £1 to a UK charity of choice thanks to the API.</p><br>

	  	<h4>Target group and Aim</h4>
	  	<p>Upon launch in the UK market we were targeting the savvy London developers in the charity NGO sector to build more apps. The GivingLab.org was aiming to reach an under 40 audience who chuggers do not reach.  </p><br>

		<h4>Process and Insights</h4>
		<p>During 2012/13 TheGivingLab ran a series of hack weekends in collaboration with Microsoft, Google Campus, General Assembly and others to test  whether they might be a vehicle for incubating new ways to generate income for UK charities.<br>
		<br>	
		Thanks to the over 300+ fun, intelligent and generous people who turned up with great ideas, bags of passion and some serious code and design skills. Find out what kind of ideas were generated here and how much it cost here.<br>
		<br>

		<b>Here’s our 6 top learnings:</b>

		<ul>
			<li>Build a community/ eco-system – Some of our winning ideas came from participants who’d been to several events, slowly building their skills and team so be honest, consistent and open if you want people to come back.<br><br>

			<li>Get a mix of skills in the room – to create viable market ready ideas you need a mix of skillsets; developer, entrepreneur, designer.  Events without one or the other generated lots of ideas, but not ideas with a revenue or business model.<br><br>

			<li>Create teams with a mix of skills – Badging people with their skills and insisting every group has to be mixed is vital. Mixed teams generated the most viable business ideas.<br><br>

			<li>Expert mentors accelerate good ideas – Mentors who created and run digital businesses mentored the women of the GeekGirlMeetUp and the ideas that came from that event were the most market ready. Each had a sense of who the product was for, how they would take to market and a business model.<br><br>

			<li>Build the possible, don’t half finish the amazing  – giving participants a clear sense of what was possible to build in 48 hours and helping them focus their ideas is vital (expert feedback on ideas at the end of day 1 helps focus on the most critical elements of the plan and prototype too).<br><br>

			<li>Have a path to market – great prototypes can remain just that. There’s a tough slog to get ideas to market. If your charity is thinking of organising a hack event you need to plan the route from hack event to the consumer.<br><br>

			<li>Will your organisation use the ideas as inspiration, will you pay for the winning team(s) to come work for you, will you back the development of the project stage by stage like a dragon from the den? Is your charity set up to manage the development and launch of new products.<br><br>

			<li >The hack weekend is the fun bit, but the valuable bit is when it starts generating money from the public for good causes.<br><br>
		</ul></p> <br>

		<h4>Results</h4>
		We managed to get far more many than five apps out live and the winner (TweetBribe.com) is still fully functional and is till this day earning money for British charities.</p>
	  </div>

	  <div class="col-md-4">
	  	<img  src="<%= image_url("thegivinglab.png")%>" class="img-responsive" alt="Responsive image">
	  </div>
</div>

<!--

<div class="row">

	<div class="col-md-4">
		<img  src="<%= image_url("wireframe_scetch_sq.jpg")%>" class="img-responsive" alt="Responsive image"> <br>

		<b><h4>Guiding Beliefs</b></h4>
		I believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal.

		<b><h4>Process</b></h4>
		I do research, workshops with users, lead structured interviews, measuring the metric results, tweaking wireframes. I prefer working close to the developers to allow a seamless testing environment.

		<b><h4>Contact</b></h4>
		Email: hello@refinerylabs.com <%= link_to "Twitter", "www.twitter.com/heidiharman" %>
		<%= link_to "LinkedIn", "se.linkedin.com/in/heidiharman" %><br>
		US + 1 (415) 481 82 09     SWEDEN + 46 (0)73 772 14 63
	</div>


    <div class="col-md-4">
	  	<img  src="<%= image_url("imaginairy_country.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>Imaginairy Country</b></h4>
	  	Imaginairy country is documentary in the making. At the Hi-Tempo film festival in Sweden I designed a mobile app to help Angela Bravo make her documentary film explore the transmedial possibilities and spread the word on Facebook. Which character are you in Starwars, was the playful entrance to something severly more serious. To be viewed on mobile.
	  	<div class="square">
	  	<%= link_to "VIEW MOBILE PROJECT ", "https://www.bit.ly/imaginarycountry" %>
		</div>
  	</div>
	

    <div class="col-md-4">
		<img  src="<%= image_url("Treat Knapp.jpg")%>" class="img-responsive" alt="Responsive image">
		<b><h4>Treat money saving app</b></h4>
		  Treat is a money-saving app that allows the user to save money actively with an app that takes the users money away from the user towards a saving goal.  
		  <div class="square">
			<%= link_to "VIEW PROJECT", "http://www.refineryabs.com/treat" %>
		</div>
	</div>
</div> -->