<!DOCTYPE html>
<html lang="en">
<body>

<!-- rad ett + video -->

<div>
	<div class="row">
	  <div class="col-md-4">
	  	<h3>Treat</h3>
	  	<p>Treat is a money-saving app that allows the user to save money actively with an app that takes the users money away from the user towards a saving goal.</p><br>
	  	<h4>Aim</h4>
		<p>To empower everyday saving by goal-orientated realtime transactions.</p><br>
		<h4>Process</h4>
		<p>By scetching, prototyping and iterationg several apps that allowed us to learn about user behaviour and what is sucessful to also prove some theories wrong. We worked with scetching, interviews and prototype testing. Prototypes were made in paper, javascript, invisio, as well as Xamarin for iPhone and tested on users. </br>
		
		<h4>Results</h4>
		We struggled with the expensive transaction costs in Sweden even when we found a (bank) partner. We chose to stop building the app in 2012.
	  </div>

	  <div class="col-md-8">
	  		<br>
	  		<br>
	  		<br>
	  		<iframe src="//player.vimeo.com/video/94472904?byline=0" width="760" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  </div>
	</div>

<!-- Rad tva med iterationer 1 + 2:a -->

<div class="row">
	<div class="col-md-4">
		<img src="<%= image_url("sayvd_ui.png")%>" class="img-responsive" alt="Responsive image"> 
		<br>
		<b><h4>Iteration one: Mockups</h4></b><br>	  
		<p>For the Seedcamp #finhack we made a simple mockup that illustrated the simple way of saving money by taking from your daily habits towards a longterm goal.</p><br> 
		We won 2:nd place in the <%= link_to "Seedcamp Hackathon", "http://thenextweb.com/uk/2012/04/01/seedcamps-seedhack-fintech-winner-provides-smart-contractual-risk-analysis-solutions-let-us-explain/" %> #fintech in London 2012.
	</div><br>

    <div class="col-md-8">
	  	<img  src="<%= image_url("sayvd_app_statsola.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<h4><b>Usertesting and insights: Inspiring infographics</b></h4>
	  	After listening to the users we played around with a lot of contemporary infographics to make it easier for th users to feel motivated and understand how much saving on little habits can lead to big wins.<br>

	  	<p>We were also in the <%= link_to "Bonnier Accelerator", "http://www.bonnier.com/news-press/News/2013/September/Start-for-Startup-Initiative/" %> as one out of several hundreds that made it to the tree spots for three months. </p><br>
	</div>
</div>	 
</div><br> 
<br>

<!-- rad 3 med UI Scecthes -->

<div>
<div class="row">
	<div class="col-md-4">
		<b><h4>Interaction scetches signup </b></h4><br>
		<p>A simple informative signup guided the user to signing up, leaving bankcard details, verifying the card.</p><br> 		
	</div>

    <div class="col-md-8">
    	<img  src="<%= image_url("sayvd_signup.png")%>" class="img-responsive" alt="Responsive image">
	  </div>
</div><br>
<br>
	

<!-- rad 4 med UI Scecthes -->
<div>
<div class="row">
	<div class="col-md-4">
		<b><h4>The goal rewarding stats</h4><br></b>  
		<p>Upon choosing to save the user is immediately presented with the stats showing the results of how much closer to the goal the user is. This was a very popular feature making it easier for users to save and feel the realtime transaction, rather than a fictive save that went to their own account.</p><br> 	

		<p>User was given a view where they can see the goal in a visual manner as well as seeing the habits. We found that this was a good cognitive pattern that activated the user to upon cue be able to act upon the desired reward as both were presented visually as well as with stats.</p><br> 	
	</div>

    <div class="col-md-8">
    	<img  src="<%= image_url("sayvd_save_goal.png")%>" class="img-responsive" alt="Responsive image">
	  </div>
</div>  	

<!-- rad 5 med UI Scecthes -->

<div>
<div class="row">
	<div class="col-md-4">
		<b><h4>Interaction scetches usability</h4><br></b>  
		<p>users coud ad their own goals later in the iteration, in the beggining of the testing we used a few given setup goals and habits just to get going with testing</p><br> 		
	</div>

    <div class="col-md-8">
    	<img  src="<%= image_url("sayvs_detiledaction.png")%>" class="img-responsive" alt="Responsive image">
	  </div>
</div>
<br>
<br>

<!-- TAKEN OUT IF I GET GOOD STUFF FROM DAVID DENERK
<div class="row">

	<div class="col-md-4">
		<img  src="<%= image_url("wireframe_scetch_sq.jpg")%>" class="img-responsive" alt="Responsive image"> <br>

		<b><h4>Guiding Beliefs</b></h4>
		I believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal.

		<b><h4>Process</b></h4>
		I do research, workshops with users, lead structured interviews, measuring the metric results, tweaking wireframes. I prefer working close to the developers to allow a seamless testing environment.

		<b><h4>Contact</b></h4>
		Email: hello@refinerylabs.com <%= link_to "Twitter", "www.twitter.com/heidiharman" %>
		<%= link_to "LinkedIn", "se.linkedin.com/in/heidiharman" %><br>
		US + 1 (415) 481 82 09     SWEDEN + 46 (0)73 772 14 63
	</div>


    <div class="col-md-4">
	  	<img  src="<%= image_url("imaginairy_country.png")%>" class="img-responsive" alt="Responsive image"> 
	  	<b><h4>Imaginairy Country</b></h4>
	  	Imaginairy country is documentary in the making. At the Hi-Tempo film festival in Sweden I designed a mobile app to help Angela Bravo make her documentary film explore the transmedial possibilities and spread the word on facebook. To be viewed on mobile.
	  	<div class="square">
	  	<%= link_to "VIEW MOBILE PROJECT ", "https://www.bit.ly/imaginarycountry" %>
		</div>
  	</div>
	

    <div class="col-md-4">
		<img  src="<%= image_url("Treat Knapp.jpg")%>" class="img-responsive" alt="Responsive image">
		<b><h4>Treat money saving app</b></h4>
		  Treat is a money-saving app that allows the user to save money actively with an app that takes the users money away from the user towards a saving goal.  
		  <div class="square">
			<%= link_to "VIEW PROJECT", "www.refineryabs.com" %>
		</div>
	</div>
</div> 

-->
